<!-- <form action="/logout?_method=DELETE" method="POST"> -->
<!-- <button type="submit">Log Out</button> -->
<!-- </form> -->
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
  }

  form {
    text-align: center;
    margin-top: 20px;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
    width: 200px;
  }

  li {
    margin-bottom: 10px;
  }

  body {
    background-color: cyan;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
    color: #4caf50;
  }
</style>
<ul>
  <br />
  <br />
  <br />
  <br />
  <br />
  <li>
    <a
      href="/announcements"
      style="font-size: 20px; font-weight: bold; color: #333"
      >Book an event</a
    >
  </li>
  <li>
    <a
      href="/bookings"
      style="font-size: 20px; font-weight: bold; color: #333"
      >Book an event</a
    >
  </li>
  <li>
    <a
      href="/ConferenceCentre"
      style="font-size: 20px; font-weight: bold; color: #333"
      >Conference Centre</a
    >
  </li>
  <li>
    <a href="/MiniAudi" style="font-size: 20px; font-weight: bold; color: #333"
      >Mini Audi</a
    >
  </li>
  <li>
    <a href="/Hazarika" style="font-size: 20px; font-weight: bold; color: #333"
      >Bhupen Hazarika</a
    >
  </li>
  <li>
    <a href="/YogaRoom" style="font-size: 20px; font-weight: bold; color: #333"
      >Yoga Room</a
    >
  </li>
  <li>
    <a
      href="/OpenTheatre"
      style="font-size: 20px; font-weight: bold; color: #333"
      >Open Theatre</a
    >
  </li>
  <!-- Add more hyperlinks for other files in the views directory -->
</ul>
